# Gradle cache
.gradle/

# Build folder
build/

# Local properties
local.properties

# Android Studio project files
.idea/
*.iml
*.hprof

# Mac files
.DS_Store

# APKs and bundles
*.apk
*.aab
*.ap_

# Other
captures/
.externalNativeBuild/
.cxx/
*.log
